.links-content {
    font-size: small;
    width: 60%;
    margin: 0;
    padding: 0;
}
.links-content #address {
	font-size: small;
	padding-bottom: 20px;
}
.links-content h1 {
	font-size: 11pt;
	color: #CCCC66;
}
.links-content h2 {
	font-size: 10pt;
}
.links-content p {
	padding-top: 1pt;
	padding-bottom: 3pt;
	margin: 0;
}
.links-content li {
	margin: 1px 9px;
}
.links-content table {
    border-collapse: collapse;
    margin-bottom: 15px;
}
.links-content table tbody  {
    border-top: 1px solid rgb(126, 126, 126);
    border-bottom: 1px solid rgb(126, 126, 126);
}
.links-content table th {
    padding-bottom: 4px;
}
.links-content table td {
    border: none;
    padding: 3px 15px 3px 0;
}
@media only screen and (max-width: 960px) {
	.links-content {
		width: auto;
	}
}