.main {
    font-size: small;
}
.dialog {
    padding: 20px;
}
.dialog .bp3-input-group {
    margin: 5px 0;
}
.rdg-cell-action-button {
    width: 20px;
}
.grid-date .DayPicker {
    background: white;
    border: 1px solid grey;
}
